{% load static %}

<div class="modal fade evemt-view" id="evemt-view">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1110px; width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Event Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-xl-8 pe-xl-0">
                    <div class="card text-white mb-0 b-0" style="margin-bottom: 0 !important;">
                        <img class="card-img" src="{% static 'images/preview/bg.jpg' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <div class="row justify-content-between">
                                <div class="col-auto bg-dark rounded">
                                    <h3 class="mt-5">Event Program 2021</h3>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-danger">CREAT</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 ps-xl-0">
                    <div class="card no-shadow b-0" style="margin-bottom: 0 !important;">
                        <div class="test">
                            <div class="card-header d-block">
                                <div class="media p-0">
                                    <img class="img-fluid w-50 ms-0" src="{% static 'images/avatar/1.jpg' %}"
                                        alt="placeholder image">
                                    <div class="media-body">
                                        <h4 class="mt-0">By John Doe</h4>
                                        <p>5 min ago</p>
                                    </div>

                                    <div class="dropdown custom-dropdown">
                                        <div data-bs-toggle="dropdown">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>

                                </div>
                                <p class="mt-10 ms-0">Sed egestas mauris sit amet orci dignissim, vel pulvinar nisi
                                    faucibus. Duis gravida
                                    sem eu magna ornare, quis elementum lacus accumsan. Vestibulum eu efficitur
                                    nisl,
                                    in fringilla sapien.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <h5 class="fw-500">Date</h5>
                                        <p class="mb-0 fs-14">June 16, 2021</p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="fw-500">Location</h5>
                                        <p class="mb-0 fs-14">NYC</p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="fw-500">Tickets</h5>
                                        <p class="mb-0 fs-14">Avb. 26/ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-lighter bt-1 bb-1 p-15">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-0 me-10 fs-14 d-inline-block">Sponsor by</h5>
                                        <div class="d-inline-block">
                                            <a href="#">
                                                <img class="img-fluid w-30" src="{% static 'images/avatar/3.jpg' %}"
                                                    alt="placeholder image">
                                            </a>
                                            <a href="#">
                                                <img class="img-fluid w-30" src="{% static 'images/avatar/4.jpg' %}"
                                                    alt="placeholder image">
                                            </a>
                                            <a href="#">
                                                <img class="img-fluid w-30" src="{% static 'images/avatar/5.jpg' %}"
                                                    alt="placeholder image">
                                            </a>
                                            <a href="#">
                                                <img class="img-fluid w-30" src="{% static 'images/avatar/6.jpg' %}"
                                                    alt="placeholder image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-0 text-danger fw-500">Free</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>